.header {
    background-color: #282c34;
    color: white;
    padding: 20px;
    text-align: center;
}
.section {
    background: white;
    border-radius: 8px;
    padding: 20px;
    width: 90%;
    transition: all 0.3s ease;
    border-color: #7F55E0 !important;
    outline: #7f55e0c0  !important;
    box-shadow: 0 0 0 0.2rem rgba(127, 85, 224, 0.25);
}
.section:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-10px); 
    transition: all 0.3s ease; 
}
.academic {
    border-left: 4px solid #4a028a;
}
.extra {
    border-left: 4px solid #221130;
}
.link {
    transition: color 0.3s ease;
}
.link:hover {
    color: #4a028a;
    text-decoration: unset;
}
