.btn-purple {
  background-color: #fff !important;
  color: #5f6774 !important;
}

.btn-purple-active {
  background-color: #f2f2fd !important;
  color: #7F55E0 !important;
}

.btn-purple:focus,
.btn-purple:active {
  outline: none !important;
  box-shadow: none !important;
}

.btn-outline-purple {
  background-color: #7F55E0 !important;
  color: #fff !important;
  /* border-color: ; */
}

.btn-outline-purple:hover {
  background-color: #7F55E0 !important;
  color: #fff !important;
  outline: none !important;
  box-shadow: none !important;
}